# 注册服务的端口号
server:
  port: 8761
# 应用名称，集群名称需要一致
spring:
  application:
    name: scs-eureka-master
  profiles:
    active: master
eureka:
  instance:
    hostname: localhost
    #metadataMap:
    #表示eureka instance 标识，需要唯一，如果不配置，多个节点最终只会有一个生效
    #instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    #是否需要注册到注册中心，因为该项目本身作为服务注册中心，所以为false
    registerWithEureka: false
    #是否需要从注册中心获取服务列表，原因同上，为false
    fetchRegistry: false
    #注册服务器的地址：服务提供者和服务消费者都要依赖这个地址
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      #defaultZone: http://localhost:8078/eureka/,http://localhost:8079/eureka/,http://localhost:8080/eureka/
      #defaultZone: http://master:8081/eureka/,http://slave-01:8082/eureka/,http://slave-02:8083/eureka/
# 日志打印控制
logging:
  level:
    com:
      netflix:
        eureka: OFF
        discovery: OFF
