.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
*.log
*.class
out/
logs/
deploy/temp*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Subprojects ###
say-hello/target/
user-ribbon/target/
user-feign/target/

### Mac ###
.DS_Store
